<h1 class="h4">Toplantı Katılım Listesi</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Katılım Durumu</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Gül Sevim Bülbül</td>
            <td>Evet</td>
            <td>
                <a class="btn btn-sm btn-primary" href="#">Detay</a>
            </td>
        </tr>
           <tr>
            <td>Eren Alparslan</td>
            <td>Evet</td>
            <td>
                <a class="btn btn-sm btn-primary" href="#">Detay</a>
            </td>
        </tr>
    </tbody>
</table>