<h1>Toplantı Katılım Listesi</h1>
<table>
    <thead>
        <tr>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Katılım Durumu</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Gül Sevim Bülbül</td>
            <td>info@gulsevimblbl.com</td>
            <td>Evet</td>
            <td>
                <a href="#">Detay</a>
            </td>
        </tr>
           <tr>
            <td>Gül  Bülbül</td>
            <td>info@gulblbl.com</td>
            <td>Evet</td>
            <td>
                <a href="#">Detay</a>
            </td>
        </tr>
    </tbody>
</table>